node_modules

// app.delete('/api/products/:id', (req, res) => {
//   const itemIndex = filtered.findIndex(element => element.id === parseInt(req.params.id));
//   if (itemIndex >= 0) {
//     filtered.splice(itemIndex, 1);
//   }
//   res.send(filtered);
// });
// ​
// app.post('/api/products', (req, res) => {
//   console.log(JSON.stringify(req.body));
//   res.send(req.body)
// })
​const express = require ('express');
const morgan = require('morgan');

const now = new Date();
const port = 8080;
app.use(express.json())
app.use(express.urlencoded({extended: false}))